@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Croissant+One&family=PT+Sans&family=Press+Start+2P&display=swap");

@tailwind components;
@tailwind base;

@layer components {
  .heading--extra-large {
    @apply text-heading-extra-large leading-heading-extra-large font-bold;
  }

  .heading--large {
    @apply text-heading-large leading-heading-large font-bold;
  }

  .heading--sub-large {
    @apply text-heading-sub-large leading-heading-sub-large font-medium;
  }

  .heading {
    @apply text-heading leading-heading font-medium;
  }

  .sub-heading {
    @apply text-sub-heading leading-sub-heading font-normal;
  }

  .body {
    @apply text-body leading-body font-normal;
  }

  .caption {
    @apply text-caption leading-caption font-normal;
  }

  .button--primary {
    @apply text-primary1 bg-primary40;
  }

  .button--large {
    @apply py-sub-large px-large heading--sub-large;
  }

  .button--medium {
    @apply py-sub-medium px-sub-large heading;
  }

  .button--small {
    @apply py-small px-sub-large text-body leading-body font-medium;
  }

  .button--clay {
    @apply py-sub-medium px-[4.8rem] heading font-semibold;
  }

  .brutalism-border {
    @apply border-b-4 border-r-4 border-t border-l;
  }

  .cancel-hover {
    @apply  hover:border-transparent hover:bg-error40 hover:text-error1 hover:shadow-inner duration-medium
  }

  .validate-hover {
    @apply  hover:border-transparent hover:bg-success40 hover:text-success1 hover:shadow-inner duration-medium
  }

  .primary-transparent-hover {
    @apply hover:scale-[102%] duration-medium hover:shadow-primary-medium
  }

  .primary-hover {
    @apply hover:scale-[102%] duration-medium hover:shadow-primary-medium
  }
}

@tailwind utilities;

:root {
  --primary-color: theme("colors.primary40");
  --secondary-color: theme("colors.secondary40")
  color: theme("colors.neutral80");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: barlow;
}

.--visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;

}


.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
  background: rgb(121, 186, 219);
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.fade-enter {
  transform-origin: top;
  transform: scaleY(0);
}

.fade-enter-active {
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 400ms;
}

.fade-exit {
  transform-origin: top;
  transform: scaleY(1);
}

.fade-exit-active {
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 400ms;
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;

  transition: opacity 600ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;

  transition: opacity 600ms;
}

/* CSS pour la classe "popup-enter" lorsque le popup apparaît */
.popup-enter {
  opacity: 0;
  transform: translateY(100%);
}

/* CSS pour la classe "popup-enter-active" pendant l'animation d'apparition */
.popup-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1500ms, transform 1500ms;
}

/* CSS pour la classe "popup-exit" lorsque le popup disparaît */
.popup-exit {
  opacity: 1;
  transform: translateY(0%);
}

/* CSS pour la classe "popup-exit-active" pendant l'animation de disparition */
.popup-exit-active {
  opacity: 0;
  transform: translateY(-500%);
  transition: opacity 7000ms, transform 10000ms;
}


.text--opacity-enter {
  opacity: 0;
}

.text--opacity-active {
  opacity: 1;

  transition: opacity 600ms;
}

.text--opacity-exit {
  opacity: 1;
}

.text--opacity-exit-active {
  opacity: 0;

  transition: opacity 600ms;
}


